/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #d7f5eb;
}

h1{
    padding: 20px 0 0 0;
    color: #5959f8;
}
h1 span{
    background-color: #5959f8;
    color: #d7f5eb;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input{
    background-color: #fff;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #5959f8;
}

button{
    background-color: #5959f8;
    color: #d7f5eb;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#task-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-body>div{
    display: flex;
    width: 350px;
    justify-content: space-between;
    background-color: #a6a6ec;
    padding: 15px;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

#icons{
    display: flex;
    gap: 15px;
}

.fa-solid{
    cursor: pointer;
}

.red{
    color: #c50303;
}

.green{
    color: #026602;
}

.hide{
    display: none;
}